
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--webkit-first);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--webkit-first);
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 0px;
  }
  
  .ro { display: block; }
.en { display: none; }
.ru { display: none; }

@font-face {
  font-family: Shadow;
  src: url(../fonts/shadow/BlockShadow-Regular.ttf);
}

:root {
  --primary-color: #FDF7E4;
  --primary-color-opacity: rgba(222, 208, 182, 0.8);
  --secundary-color:#DED0B6;
  --third-color:#31363F;
  --forth-color:  #bfb29b;
  --fifth-color: #BBAB8C;
  
  --sixth-color:#31363F;
  --seventh-color: #7a724c;

  --eight-color: #4b4527;
  --nineght-colo: #DED0B6;

  --tenth-color: #7a724c;
  --tenth-color-mod:black;
  --eleventh-color:#f1e5c7;
  --twelf-color: #DED0B6;

  --tirth-color:#534e35;
  
  --gradient-first:#d2c19f;
  --gradient-second: #FDF7E4;

  --gradient-third:#d2c19f;
  --gradient-forth: #FDF7E4;

  --shadow-first:rgba(0,0,0,0.2);
  --shadow-second:#656043;
  --shadow-tird:#7a724c;

  --webkit-first: #d3c8b2;
}


.white-theme{
  --primary-color: #c5b69b;
  --primary-color-opacity: rgba(49, 54, 63, 0.8);
  --secundary-color:#31363F;
  --third-color:#BBAB8C;
  --forth-color:  #414752;
  --fifth-color: #31363F;

  --sixth-color:#fff;
  --seventh-color: #222831;

  --eight-color: #7a724c;
  --nineght-colo: #DED0B6;

  --tenth-color: #BBAB8C;
  --tenth-color-mod:#BBAB8C;
  --eleventh-color:#31363F;
  --twelf-color: #222831;

  --tirth-color:#202020;

  --gradient-first: #b1a286;
  --gradient-second: rgb(253, 239, 196);

  --gradient-third: #222831;
  --gradient-forth: #31363F;

  --shadow-first:rgba(255, 255, 255, 0.2);
  --shadow-second:#d2c09c;
  --shadow-tird:#fff;

  --webkit-first: #15191f;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#icon-bulb{
  width: 30px;
  cursor: pointer;
}

.language-dropdown {
  position: relative;
  display: inline-block;
}

.language-dropdown1 {
    position: relative;
    display: inline-block;
  }


.dropdown-btn {
  background-color: var(--forth-color);
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  position: inherit;
  top: 5px;
  border-radius: 7px;
}

.dropdown-btn span{
  transition: 0.2s ease-in-out;
}

.dropdown-btn:hover span{
color: #f1e5c7;
transition: 0.2s ease-in-out;
}

.dropdown-btn .glyphicon {
  margin-left: 5px;
}

.dropdown-btn1 {
    background-color: var(--forth-color);
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: inherit;
    border-radius: 7px;
  }
  
  .dropdown-btn1 span{
    transition: 0.2s ease-in-out;
  }
  
  .dropdown-btn1:hover span{
  color: #8E94F2;
  transition: 0.2s ease-in-out;
  }
  
  .dropdown-btn1 .glyphicon {
    margin-left: 5px;
  }
  


.dropdown-content {
  display: none;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  min-width: 160px;
  padding: 12px 16px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 8px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a.active {
  background-color: rgb(39 39 39);
  color: white;
}


.dropdown-content1 {
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    min-width: 160px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content1 a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content1 a:hover {
    background-color: #ddd;
  }
  
  .dropdown-content1 a.active {
    background-color: rgb(39 39 39);
    color: white;
  }
  


.show {
  display: block;
}


.first-box{
    position: relative;
    max-width: 65%;
    padding: 5px 25px;
    padding-bottom: 20px;
    background-color: var(--secundary-color);
    border-radius: 15px;
    margin:auto;
    margin-left: 5%;
    -webkit-box-shadow: 12px 8px 25px -10px rgba(0, 0, 0, 0.381);
-moz-box-shadow: 12px 8px 25px -10px rgba(0, 0, 0, 0.381);
box-shadow: 10px 5px 25px -10px rgba(0, 0, 0, 0.381);
}

@media (max-width:950px) {
    .first-box{
max-width: 70%;
    }
    }




@media (max-width:650px) {
    .first-box{
   border-radius: 0px;
   max-width: 100%;
   margin: 0px;
    }
    }



.first-box p {
    font-family: "Poppins", sans-serif;
    color: var(--sixth-color);
    font-size: 17px;
}

.first-box h1{
  color: var(--tenth-color);
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.Containers {
  display: none;
}


.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -3px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 35px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}


.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}


.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
  color: #EBD8FD;
  text-decoration: none;
}


.info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}


.info {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}


.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: linear-gradient(92.18deg, #b172e4 -25.78%, #d3beff 123.02%);
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background: linear-gradient(92.18deg, #e19af8 -25.78%, #d3beff 123.02%);
  opacity: 1;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
  display:contents;
}

.carusel1{
    max-height: 500px;
    border-radius: 15px;
    margin-left: auto;
    margin-top: 45px;
    justify-content: center;
    display: flex;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
}

@media (max-width:898px) {
  .carusel1{
  max-width: 530px;
  }
  }

@media (max-width:690px) {
.carusel1{
max-width: 500px;
}
.Back, .forward{
    margin-top: -40px;
}
}

@media (max-width:500px) {
    .carusel1{
    max-width: 390px;
    }
    }
    @media (max-width:390px) {
        .carusel1{
        max-width: 300px;
        }
        .Back, .forward{
            font-size: 20px;
           
            
        }
        }

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


.skewed {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: var(--secundary-color);
    z-index: 0;
    margin-bottom: 200px;
    transform: skewY(-6deg);
    transform-origin: top right;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.365);
-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.365);
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.365);
  }

.calumea{
    transform: skewY(6deg);
    position: relative;
    max-height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    top: 45px;
}

iframe{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
max-width: 450px;
}


@media (max-width:1000px) {
    .skewed{
      top: 50px;
        height: 1100px;
    }
    .calumea{
        transform: skewY(6deg);
        position: relative;
        max-height: 1100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        top: 100px;
        flex-direction: column-reverse;
    }
    .direct-contact-container{
        margin-top: 100px;
        left: 0px;
    }   
}

@media (max-width:550px){
  iframe{
    max-width: 300px;
    max-height: 350px;
  }
}


.direct-contact-container {
    max-width: 400px;
    margin-top: 140px;

    position: relative;
}

  

  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
      position: relative;
      color: var(--sixth-color);
    line-height: 4;
    left: 35px;
  }
  
  .contact-text {
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 1.9px;
    color: var(--sixth-color);
  }
  
  .place {
    margin-left: 62px;
    font-size: 14px;
   
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    font-weight: bold;
    color: var(--sixth-color);
    text-decoration: none;
    transition-duration: 0.2s;
    font-size: 20px;
  }
  
  .contact-text a:hover {
    color: #aaaaaa;
    text-decoration: none;
  }
  
  

  .social-media-list {
    position: relative;
    font-size: 35px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: var(--fifth-color);
    position: relative;
    top: 10px;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: var(--third-color);
    background-color: var(--third-color);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px var(--third-color);
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #BBAB8C; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: var(--sixth-color);
  }

  hr {
    border-color: rgba(255,255,255,.6);
    border-top: 4px solid var(--seventh-color);
  }
  
 
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
  
    }    
 
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
    
    }  

    .social-media-list li {
      height: 75px;
      width: 75px;

      font-size: 40px;
    }
    .social-media-list li:after {
      width: 75px;
      height: 75px;

    }
    
  }

  





  .eye{
    position: none;
  }
  
  
  .custom{
    background-color: var(--forth-color);
    padding: 5px 15px;
    position: fixed;
    top: 24vh;
    left: 92%;
    padding-right: 40px;
    z-index: 999;
    font-size: 17px;
    border-radius: 15px 2px 0px 15px;
    filter: drop-shadow(-3px 0px 10px #646262);
    cursor: pointer;
    transition: 200ms ease-in-out;
  }
  
  .custom:hover{
    background-color: #d0c5b1;  
    filter: drop-shadow(-3px 0px 15px #646262);
    transition: 200ms ease-in-out;
  }
  
  .toggleContainer-style button{
    background: rgb(225 207 173 / 80%);
    border: none;
    padding: 5px;
    border-radius: 15px 3px 3px 15px;
    text-align: right;
    border: 1px black solid;
    margin: 2px;
    color: var(--sixth-color);
    transition: 200ms ease-in-out;
  }
  
  .toggleContainer-style button:hover{
    background: rgb(251 231 193 / 80%);
    transition: 200ms ease-in-out;
    border: 1.5px black solid;
  }
  
  body {
    transition: all 0.3s ease;
  }
  
  .toggleButton-2{
    background: none;
    border: none;
    color: white;
    transition: 200ms ease-in-out;
  }
  
  
  .colorblind-mode {
    filter:grayscale(1);
    transition: 200ms ease-in-out;
  }
  
  .vibrant-mode {
    filter: contrast(115%) saturate(115%);
    transition: 200ms ease-in-out;
  }
  
  .no-resize {
    font-size: inherit !important;
  }
  
  #toggleContainer-2 {
  text-align: right;
  transition: 200ms ease-in-out;
  }
  
  #toggleContainer-2 button {
  text-align: right;
  transition: 200ms ease-in-out;
  }
  
  @media (max-width:1273px) {
    .custom{
    padding-right: 47px;
    left: 89%;
  }
  
  }
  @media (max-width:1077px) {
    .custom{
    left: 87%;
  }
  }
  @media (max-width:1077px) {
    .custom{
    left: 85%;
  }
  }
  @media (max-width:825px) {
    .custom{
    left: 84%;
  }
  }
  @media (max-width:753px) {
    .custom{
    left: 82%;
  }
  }
  @media (max-width:695px) {
    .custom{
    left: 80%;
  }
  }
  @media (max-width:604px) {
    .custom{
    left: 78%;
  }
  }
  @media (max-width:545px) {
    .custom{
    left: 75%;
  }
  }
  @media (max-width:476px) {
    .custom{
    left: 72%;
  }
  }
  @media (max-width:431px) {
    .custom{
    left: 69%;
  }
  }
  @media (max-width:376px) {
    .custom{
    left: 65%;
  }
  }
  
  

  